<!-- Header -->
<app-header></app-header>
<!-- Header -->

<!-- Main -->
<main style="padding: 20px; font-family: sans-serif;">

  <!-- Boutons de navigation -->
  <div class="navigation-buttons">
    <button (click)="showProducts()">Voir Produits</button>
    <button (click)="showUsers()">Voir Équipe</button>
  </div>

  <!-- Barre de recherche -->

  <app-product-search [searchTerm]="searchTerm"></app-product-search>

  <!-- SECTION PRODUITS -->
  <section
    class="catalog-section"
    *ngIf="currentView() === 'products'">
    <app-product-list></app-product-list>
  </section>

  <hr *ngIf="currentView() === 'products' || currentView() === 'users'">

  <!-- SECTION UTILISATEURS -->
  <section
    class="team-section"
    *ngIf="currentView() === 'users'">
    <app-user-list></app-user-list>
  </section>

</main>

<!-- Fin Main -->


<!-- Footer -->


<!-- Fin Footer -->
